/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require bootstrap
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 /* @import 'bootstrap/dist/css/bootstrap';
 @import "font-awesome"; */


 /* SIGNUP */

 .main-wrapper{
  background-image: url('https://user-images.githubusercontent.com/25479050/76873043-87f62180-686d-11ea-929c-542c5a0f2f6d.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }


.subhead{
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: light;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}


.heading{
 color: #000;
 line-height: 1.5;
 font-weight: bold;
 font-family: 'Open Sans', sans-serif;
 font-size: 1.5rem;
 letter-spacing: .4rem;

}

footer{
  background-color: #fff;
}

/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext'); */

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro&display=swap'); */


body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

#row-one {
  padding-top: 3rem;
}

#header-logo{
  margin-top: .7rem;
  margin-left: 1.4rem;
}

#rowone{
  padding-top: 6rem;
}

#rowthree{
  padding-top: 1rem;
}



#rowfour{
  padding-top: 1rem;
}

#rowfive{
  padding-top: 1rem;
  text-decoration: none;
}

.login{
  background-color: transparent !important;
  text-decoration: none !important;
  color: #fff !important;
}

button.login > a {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: .8rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.login:hover{
  text-decoration: none;
  cursor: pointer;
}

.sign-up{
    background-color:#eb5537 !important;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: none !important;
    line-height: 1.5;
    border-radius: 1rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
}


button.sign-up > a{
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: .8rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding-left: .8rem;
  padding-right: .8rem;
}

.sign-up:hover{
  text-decoration: none;
  cursor: pointer;
}



a{
  /* display: inline-block;
  text-transform: capitalize !important;
  color: white !important;
  font-size: .8rem;
  font-weight: bolder;
  margin-right: 1rem;
  margin-top: 1rem;
  padding-top: .3rem;
  height: 28px; */
}

a:last-child{
  /* background-color: gray;
  border-radius:1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none; */
}

a:hover{
  text-decoration: none !important;
}

#row-two{
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
  margin-left: 1.2rem;
}

a.start-free{
  /* display: inline-block;
  color: white !important;
  background-color: #eb5537;
  border-radius:1rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  border: none;
  font-weight: bolder;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 1rem;
  padding-top: .5rem;
  padding-bottom: .7rem;
  height: 35px; */

}

#footer-logo{
  text-align: center;
  margin-bottom: 1.5rem;
}

#row-three{
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: grey;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

#address, #copyright{
  text-align: center;
}



.twitter{
  color: #3aaff1
 }

 .instagram{
   color: #24739E
 }

 .facebook{
  color: #27569c
 }

 .twitter, .instagram, .facebook:hover{
   cursor: pointer;
 }

 button{
   border: none;
   outline: none !important;
 }

i{
  display: inline-block;
}

